@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
.fonts{
    font-family: 'Comfortaa', sans-serif;
}
.modal-buttons{
-fx-background-radius: 15;
-fx-text-fill: white;
-fx-background-color: #002217;
}
.modal-buttons:hover{
-fx-background-color: #727976;
}